.btn {
  height: 36px;
  min-width: 80px;
  border-radius: 4px;
  padding: 0 16px;
  font-size: 14px;
  background-color: #50b83c;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn-secondary {
  height: 36px;
  min-width: 80px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #ffffff;
  color: #1f1f1f;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  gap: 4px;
}

.btn-icon-delete {
  color: red;
}

.btn:hover {
  background-color: #5dc748;
}

.btn:active {
  background-color: #118044;
}

.btn-secondary:hover {
  background-color: #faf7f7;
}

.btn-secondary:active {
  background-color: #d7d7d7;
}

.btn:disabled {
  background-color: #99d38e;
  cursor: default;
}

.btn-link {
  font-size: 14px;
  font-weight: 500;
  color: red;
  background-color: unset;
  cursor: pointer;
  height: 36px;
}

.btn-link:hover {
  color: rgba(255, 0, 0, 0.595);
}

.btn-link:active {
  color: rgb(234, 51, 51);
}

.btn-icon {
  font-size: 20px;
  min-width: 36px;
  width: 36px;
  padding: 0;
  height: 36px;
  padding: 0 8px;
}
